$color1: #00308f;
$color2: #1974d2;
$color3: #8edfff;
$color4: #b2ffff;
$color5: #ededed;
$text-color: #000;
$text-white: white;
$text-gray: #737373;
$hover: rgb(23, 103, 182);
.home {
  padding: 6rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__left {
    width: 58%;
  }
  &__image {
  }
  &__right {
    width: 42%;
    display: flex;
    flex-direction: column;
  }
  &__title {
    //   font-family: "Poppins", sans-serif;
    font-size: 5.5rem;
    font-weight: 550;
    color: $color1;
    margin-bottom: 1.5rem;
  }
  &__decs {
    color: $text-color;
    margin-bottom: 4rem;
    width: 100%;
    font-size: 2.2rem;
  }
  &__btn {
    width: 13rem;
    padding: 1rem 4rem;
    background-color: $text-white;
    color: $color2;
    border-radius: 0.5rem;
    text-align: center;
    border: 2px solid $color2;
    box-shadow: 0 0 10px 0 #ededed;
    transition: all 0.2s linear;

    &:hover {
      background-color: $color2;
      color: $text-white;
    }
  }
}
.product {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 5rem;

  &__title {
    font-size: 2.2rem;
    font-weight: 600;
    color: $color1;
    padding: 4rem 0;
  }
  &__group {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: calc((100% / 3) - 3rem);
    border-radius: 1rem;
    overflow: hidden;
    padding: 1.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.055);
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.15s linear;
    &:hover {
      transform: translateY(-5px);
    }
    img {
      margin-bottom: 1.5rem;
      border-bottom: 2px solid #00308f11;
    }
    &-name {
      color: $text-color;
      font-size: 2rem;
      pointer-events: none;
      margin-bottom: 1.5rem;
    }
    &-status {
      pointer-events: none;
      color: green;
      margin-bottom: 0.5rem;
    }
    &-type {
      color: $text-gray;
      font-size: 1.6rem;
    }
  }
}
