<div class="home" id="home" >
    <div class="home__left">
        <div class="home__image">
            <img src="../../assets/image/Untitled-2.png" alt="">
        </div>
    </div>
    <div class="home__right">
        <div class="home__title">Place your ads here</div>
        <div class="home__decs">
            <p>Starting to place your ads at your desired spots on our websites</p>
        </div>
        <a [routerLink]="['/product']" routerLinkActive="router-link-active"  class="home__btn"><i class="fas fa-arrow-right"></i>
        </a>

    </div>
</div>
<app-product-all></app-product-all>
<div class="product" id="product" >
    <a [routerLink]="['/product']" routerLinkActive="router-link-active"  class="home__btn-see" style="margin: 0 auto; width : 30%; font-size : 1.6rem; padding : 0.3rem 0 ; cursor: pointer;" >See more</a>
</div>
