<div class="account">
    <div class="account__profile">
        <div class="account__background">
            <img src="../../assets/image/1719768.jpg" alt="">
        </div>
        <div class="account__title">
            <div class="account__avatar">
                <img src="https://scontent.fsgn13-2.fna.fbcdn.net/v/t1.6435-9/97563806_2656875631248579_3206429855126126592_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=174925&_nc_ohc=DXbDzh26x-IAX-90Ikg&_nc_ht=scontent.fsgn13-2.fna&oh=417248145badb36a75d992f98fe315d3&oe=61AADCBD" alt="">
            </div>
            <div class="account__infor">
                <span class="name" >Nguyễn Trọng Huy</span>
                <div class="total" >
                    <p>Total money :</p>
                    <span class="money" >999999</span>
                    <i class="fas fa-coins"></i>
                </div>
            </div>
        </div>
        <div class="account__bar">
            <div class="account__bar-item">
                <span>Customer</span>
            </div>
            <a href="" class="account__bar-item">
                <i class="fas fa-coins"></i>
                <i style="font-size: 1.4rem" class="fas fa-plus"></i>
            </a>
            <a (click)="logOut()" style="background-color: 
            #1974d2; border-radius:2rem; " class="account__bar-item">
                <i style="color: white; padding: 0.7rem;cursor: pointer;" class="fas fa-power-off"></i>
            </a>
        </div>
    </div>
    <div class="account__table">
        <div class="account__table-user">
            <form action="" class="account__form">
                <h3 class="account__form-title">Profile</h3>
                <div class="account__form-group">
                    <div class="account__form-item">
                        <label for="email">Email :</label>
                        <input type="email" value="tronghuy.832001@gmail.com">
                    </div>
                    <div class="account__form-item">
                        <label for="fullname">Full name :</label>
                        <input type="text" value="Nguyễn Trọng Huy">
                    </div>
                    <div class="account__form-item">
                        <label for="username">User name :</label>
                        <input type="text" value="huykaito454" readonly>
                    </div>
                    <div class="account__form-item">
                        <label for="phone">Phone number :</label>
                        <input type="text" value="0937899623">
                    </div>
                    <div class="account__form-item">
                        <label for="address">Address :</label>
                        <input type="text" value="Ho Chi Minh City">
                    </div>
                    <div class="account__form-btn" >
                        <button type="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="account__table-order">
            <form action="" class="account__form">
                <h3 class="account__form-title">Order</h3>
                <table class="table">
                    <thead>
                        <th style="width: 20%" >Date created</th>
                        <th style="width: 15%" >ID Order</th>
                        <th style="width: 30%" >Order name</th>
                        <th style="width: 25%" >Total</th>
                        <th style="width: 10%" >Details</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1-1-2001</td>
                            <td>01</td>
                            <td>Banner 300x600px Kenh14</td>
                            <td>100</td>
                            <td>
                                <a href="" class="account__form-btn" >
                                    <button type="submit">Details</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>1-1-2001</td>
                            <td>01</td>
                            <td>Banner 300x600px Kenh14</td>
                            <td>100</td>
                            <td>
                                <a href="" class="account__form-btn" >
                                    <button type="submit">Details</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>1-1-2001</td>
                            <td>01</td>
                            <td>Banner 300x600px Kenh14</td>
                            <td>100</td>
                            <td>
                                <a href="" class="account__form-btn" >
                                    <button type="submit">Details</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
